/*! Place your custom styles here */
#cmbg{
	background: #4a90e2
}
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}
.lds-ring {
  box-sizing: border-box;
  display: block;
  position: relative;
  right: 0px;
  width: 64px;
  height: 64px;
  margin: auto;
  border: 8px solid rgb(189, 27, 27);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(116, 206, 248) transparent transparent transparent;
}
/* .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
} */
/* .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
} */
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.color--primary-todo {
    color: #e24949 !important;
    vertical-align:middle;
}

.color--gray {
    color: #BFBEBD !important;
    vertical-align:middle;
}

.text-center-v {
    vertical-align:middle;
}

html {
	overflow-x: hidden;
}

.leftul, .leftli {
    margin: 0; padding: 0;
}

