<li class="col-sm-4 col-xs-12 slide" ng-repeat="course in courseCurrentList" style = "height: 400px">
    <div class="boxed boxed--border">
         <div class = "row">                                            
            <div class="background-image-holder" style="background: url(&quot;img/blog-2.jpg&quot;); opacity: 0; float:left; width: 45%; height: 90%; margin-top:2%">
                 <img alt="background" ng-src="{{course.imageUrl}}">
            </div>
             <div style= "float:right; width:50%; height:100%; margin-right:2%">
                <h6>{{course.name}}</h6> 
                    <div class="modal-instance block">
                    <a href="#" class="modal-trigger btn btn--primary"><span class="btn__text">课程详情</span></a>
                    <div class="modal-container">
                        <div class="modal-content">
                            <section class="imageblock feature-large bg--white border--round ">
                                <div class="container" style="padding-top: 1.1em">
                                    <div class="row" style="height: calc(100vh - 100px)">
                                        <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                                    </div>
                                    <!--end of container-->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>                                                        
            </div> 
        </div>
    </div>
</li>             

<div class="col-sm-4 col-xs-12 slide" ng-repeat="course in courseCurrentList" style = "height: 200px">
    <div class="boxed boxed--border">
        <div class = "row">  
            <div class="background-image-holder" style="background: url(&quot;img/blog-2.jpg&quot;); opacity: 0; float:left; width: 45%; height: 90%; margin-top:2%">
                 <img ng-src="{{course.imageUrl}}">
            </div>
            
        </div>
    </div>
</div>    

<div id="page">
      <a href="" id="modal-new-trigger">Click me</a><br>
      <div id="popup"> 
      External website:
      <iframe id="iframe" src = {{course.detailsUrl}}></iframe>
      </div>
</div>                                                                                    

<div class="modal-instance block">
    <a href = {{course.detailsUrl}} class="modal-trigger btn btn--primary"><span class="btn__text">课程详情</span></a>
    <div class="modal-container">
        <div class="modal-content">
            <section class="imageblock feature-large bg--white border--round ">
                <div class="container" style="padding-top: 1.1em">
                    <div class="row" style="height: calc(100vh - 100px)">
                        <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                    </div>
                    <!--end of container-->
                </div>
            </section>
        </div>
    </div>
</div>                                                        

<div class="modal-instance block">
    <a class="modal-new-trigger btn btn--primary" onclick="newModalFunction()"><span class="btn__text">课程详情</span></a>
    <div class="modal-new-container">                                                                                            
        <div class="modal-new-content">
            <h1>showing the table</h1>
            <section class="imageblock feature-large bg--white border--round ">
                <div class="container" style="padding-top: 1.1em">
                    <div class="row" style="height: calc(100vh - 100px)">
                        <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                    </div>
                    <!--end of container-->
                </div>
            </section>
        </div>
    </div>
</div>


<div class="col-sm-4 col-xs-12 slide" ng-repeat="course in courseCurrentList" style = "height: 1200px">
    <div class="boxed boxed--border">
         <div class = "row">                                            
            <div class="background-image-holder" style="background: url(&quot;img/blog-2.jpg&quot;); float:left; width: 45%; height: 90%; margin-top:2%">
                 <img alt="background" ng-src="{{course.imageUrl}}">
            </div>
             <div style= "float:right; width:50%; height:100%; margin-right:2%">
                <h6>{{course.name}}</h6> 
                    <div class="modal-instance block">
                    <a href="#" class="modal-trigger btn btn--primary"><span class="btn__text">课程详情</span></a>
                    <div class="modal-container">
                        <div class="modal-content">
                            <section class="imageblock feature-large bg--white border--round ">
                                <div class="container" style="padding-top: 1.1em">
                                    <div class="row" style="height: calc(100vh - 100px)">
                                        <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                                    </div>
                                    <!--end of container-->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>                                                        
            </div> 
        </div>
    </div>
</div>                                                                                                                                               

<div class="masonry1">
        <div class="col-sm-12">

        <div>
        <!-- <div class="masonry__container"> -->
            <div class="col-sm-4 masonry__item" ng-repeat="course in courseCurrentList" style = "height: 400px">
                <div class="card card-2 text-center">
                    <div class="card__top">
                        <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                        <img alt="Image" ng-src="{{course.imageUrl}}">
                    </div>
                    <div class="card__body">
                        <h4>{{course.title1}}</h4>
                        <p>
                            {{course.text}}
                        </p>
                    </div>
                    <div class="card__bottom text-center">
                        <div class="card__action">
                            <div class="modal-instance block">
                                <a href="#" class="btn modal-trigger"><span class="btn__text">查看课程信息</span></a>
                                <div class="modal-container">
                                    <div class="modal-content">
                                        <section class="imageblock feature-large bg--white border--round ">
                                            <div class="container" style="padding-top: 1.1em">
                                                <div class="row" style="height: calc(100vh - 100px)">
                                                    <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                                                </div>
                                                <!--end of container-->
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__action">
                            <div class="modal-instance block">
                                <a class="btn toggle_schedule" href="#">
                                    <span class="btn__text">
                                        选择课程时间
                                    </span>
                                </a>
                                <!-- <div class="modal-container">
                                    <div class="modal-content">
                                        <div class="boxed boxed--lg">
                                            <iframe ng-src="{{course.registerForm}}"></iframe>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- The following should be toggled by the button above -->
                    <div class="card__body course_schedule" style="display: none;">
                        <h4>课程时间</h4>
                        <p>如果时间不合适请及时联系我们</p>
                        <table class="border--round table--alternate-row">
                            <tbody>
                                <tr>
                                    <td style="width: 35%"><b>日期</b></td>
                                    <td style="width: 28%"><b>时间</b></td>
                                    <td style="width: 28%"><b>注册</b></td>
                                    <!--<td style="width: 19%"><b>价格</b></td>-->
                                </tr>
                                <tr ng-repeat="data in course['repeatData']">
                                    <td style="width: 35%">{{data.range}}<br>上半期八周</td>
                                    <td style="width: 28%">{{data.dayTime}}</td>
                                    <td style="width: 28%">
                                        <div class="modal-instance">
                                            <a href="#" class="btn btn--sm btn--primary modal-trigger"><span class="btn__text">注册</span></a>
                                            <div id={{data.courseid}} class="modal-container">
                                                <div class="modal-content section-modal">
                                                    <section class="unpad ">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                                    <div class="boxed boxed--lg bg--white text-center feature">
                                                                        <div class="modal-close modal-close-cross"></div>
                                                                        <h3>填写报名信息</h3>
                                                                        <h5>{{course.shortName}}</h5>
                                                                        <h5 style="margin-bottom: 0;">尔湾Irvine网课</h5>
                                                                        <p style="margin-bottom: 0;"><b>日期：</b>{{data.range}} 上半期八周</p>
                                                                        <p><b>时间：</b>{{data.dayTime}}</p>
                                                                        <hr data-title="OR">
                                                                        <div class="feature__body">
                                                                            <form ng-submit="submit(data.courseid, 'Irvine')">
                                                                                <div class="row">
                                                                                    <div class="col-sm-6">
                                                                                        <input type="text" ng-model="form.firstName" placeholder="学生First Name" required/>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <input type="text" ng-model="form.lastName" placeholder="学生Last Name" required/>
                                                                                    </div>
                                                                                    <div class="col-sm-12">
                                                                                        <input type="text" ng-model="form.grade" placeholder="年级" />
                                                                                    </div>
                                                                                    <div class="col-sm-12">
                                                                                        <input type="email" ng-model="form.email2" placeholder="Email" required/>
                                                                                    </div>
                                                                                    <div class="col-sm-12">
                                                                                        <input type='tel' autocomplete="tel" ng-model="form.phone2" placeholder="联系电话" required/>
                                                                                    </div>
                                                                                    <div class="col-sm-12">
                                                                                        <input type="text" ng-model="form.contact2Value" placeholder="微信号" />
                                                                                    </div>
                                                                                    <div class="col-sm-12">
                                                                                        <button class="btn btn--primary type--uppercase" type="submit">注册</button>
                                                                                    </div>
                                                                                </div>
                                                                                <!--end of row-->
                                                                            </form>
                                                                            <span class="type--fine-print block">如有疑问请联系我们
                                                                                <a href="contact-us-cn.html">联系我们</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end of row-->
                                                        </div>
                                                        <!--end of container-->
                                                    </section>
                                                </div>
                                            </div>
                                        </div>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

console.log(document)
console.log(document.getElementById("modal-new-trigger"))

document.getElementById("modal-new-trigger").onclick = function(e) {
  e.preventDefault();
  console.log("onclick");
  var isInit = true; // indicates if the popup already been initialized.
  var isClosed = false; // indicates the state of the popup
  document.getElementById("popup").style.display = "block";
  console.log(document.getElementById("popup"));
  document.getElementById('iframe').src = "https://codingmindsacademy.com/";
  document.getElementById('page').className = "darken";
  document.getElementById('page').onclick = function() {
    if(isInit){isInit=false;return;}
    if(isClosed){return;} //if the popup is closed, do nothing.
    document.getElementById("popup").style.display = "none";
    document.getElementById('page').className = "";
    isClosed=true;
  }
  return false;
}

<style>                        
            #popup { 
              display: none; 
              border: 1px black solid;
              width: 400px; height: 200px; 
              top:20px; left:20px;
              background-color: white;
              z-index: 10;
              padding: 2em;
              position: fixed;
            }

            .darken { background: rgba(0, 0, 0, 0.7); }

            #iframe { border: 0; }

            html, body, #page { height: 100%; }
        </style>
