<!doctype html>
<html ng-app="v3App" lang="cn">
<head>
    <meta charset="utf-8">
    <link href="./img/favicon.png" rel="icon">
    <title>Coding Minds编程思维课程体系</title>
    <meta name="keywords" content="青少年编程, 课后编程辅导, 编程思维, 编程竞赛, 背景提升, STEM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="编程助力名校申请。在Coding Minds Academy, 我们以亲身实践的方式教授编程和计算思维。 学生将可以玩得开心，建立自己的应用程序，并与其他学生分享他们对编码的热情和兴趣。">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">

    <link rel="icon" href="https://codingmindsacademy.com/img/my/logofav.png" mce_href="/https://codingmindsacademy.com/img/my/logofav.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://codingmindsacademy.com/img/my/logofav.png" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://codingmindsacademy.com/img/my/logofav.png" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <STYLE type="text/css">
        #flwindow0{position: absolute; left: 0%}
        #flwindow1{position: absolute; left: 100%}
        #flwindow2{position: absolute; left: 200%}
        #flwindow3{position: absolute; left: 300%}
        #flwindow4{position: absolute; left: 400%}
        #flwindow5{position: absolute; left: 500%}
        #flwindow6{position: absolute; left: 600%}
        #flwindow7{position: absolute; left: 700%}
        #flwindow8{position: absolute; left: 800%}   
    </STYLE> 
    <STYLE>
        .float-right {
            position: fixed;
            font-size: 2em;
            padding-left: 0.7em;
            padding-right: 0.7em;
            padding-top: 1em;
            padding-bottom: 1em;
            right: 100px;
            bottom: 15%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
            z-index: 99;
            border: 1px solid #ececec;
            transition: 0.2s ease-out;
            -webkit-transition: 0.2s ease-out;
            -moz-transition: 0.2s ease-out;
            /*writing-mode : tb-rl;*/
            transform: translate(30%)
        }
    </STYLE>
</head>


<body ng-controller="CourseListController">
    <a id="start"></a>
                <div class="nav-container ">
                    <div class="bar bar--sm visible-xs">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3 col-sm-2">
                                    <a href="index-cn.html">
                                        <img class="logo logo-dark" alt="logo" src="img/my/logo1.png" />
                                        <img class="logo logo-light" alt="logo" src="img/my/logo1.png" />
                                    </a>
                                </div>
                                <div class="col-xs-9 col-sm-10 text-right">
                                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                        <i class="icon icon--sm stack-interface stack-menu"></i>
                                    </a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </div>
                    <!--end bar-->
                    <nav id="menu1" class="bar bar-1 hidden-xs">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-1 col-sm-2 hidden-xs">
                                    <div class="bar__module">
                                        <a href="index-cn.html"> <img class="logo logo-dark" alt="logo" src="img/my/logo1.png"> <img class="logo logo-light" alt="logo" src="img/my/logo1.png"> </a>
                                    </div>
                                </div>
                                <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                                    <div class="bar__module">
                                        <ul class="menu-horizontal text-left">
                                            <li>
                                                <a href="index-cn.html">
                                                    关于我们
                                                </a>
                                            </li>                                        
                                            <li>
                                                <a href="pathc.html">
                                                    课程体系
                                                </a>
                                            </li>                                        
                                            <li>
                                                <a href="enrichmentc.html">
                                                    背景提升
                                                </a>
                                            </li>
                                            <li>
                                                <a href="conferencec.html">
                                                    学生作品
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    师资力量
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="bar__module">
                                                <!-- <a class="btn btn--sm type--uppercase" href="#customise-template"> <span class="btn__text">
                                                Contact Us
                                            </span> </a> -->
                                            <a class="btn btn--sm btn--primary type--uppercase" href="https://www.sharemyworks.com"> <span class="btn__text">
                                                学习中心
                                            </span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!--end bar-->
                    </div>
                    <div class="main-container">  
                            <section class="text-center height-50">
                            <div class="container pos-vertical-center">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <i class="icon icon-Thumb color--primary"></i>
                                        <h1>高标准 高要求<br>编程助力名校申请</h1>
                                        <p class="lead">
                                            我们对编程的教学要求不是简单的课外兴趣班<br>而是要为大家提供申请名校的经历、背景与信心
                                        </p>
                                    </div>
                                </div>
                                <!--end of row-->
                            </div>
                            <!--end of container-->
                        </section>     

                        <section class="space--sm text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-10 col-md-8">
                                            <div class="text-center">
                                                <i class="icon icon-Target color--primary"></i>
                                                <h2 class="text-center">编程课程目标<br></h2>
                                                <hr>
                                                <p class="lead">
                                                Coding Minds编程课程体系以助力名校申请为核心目标，引导学生学编程、做项目、参加竞赛、搞科研和创业，通过创新动手提升个人背景
                                                </p>
                                                <!-- <img alt="Image" class="border--round box-shadow" src="img/pathway/biggoals2.png"> -->
                                                <img alt="Image" class="border--round box-shadow" src="img/pathway/steps.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>

                        <section class="space--sm text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-10 col-md-8">
                                            <div class="text-center">
                                                <i class="icon icon-Statistic color--primary"></i>
                                                <h2 class="text-center">编程课程体系<br></h2>
                                                <hr>
                                                <p class="lead">
                                                Coding Minds编程课程体系由美国大学计算机教授团队从美国大学申请的角度设计，进阶性的学习编程，培养兴趣和实践能力，让孩子从小打下坚实的编程基础
                                                </p>
                                                <img alt="Image" class="border--round box-shadow" src="img/pathway/plevel4.png">
                                                <p class="lead">
                                                所有课程以项目为阶段性目标，增强学生的科技创新背景和信心
                                                </p>
                                                <img alt="Image" class="border--round box-shadow" src="img/pathway/biggoals2.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </section>

                            <section class="space--sm">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">                                
                                            <div class="text-center">
                                                <i class="icon icon-Coding color--primary"></i>
                                                <h2 class="text-center">L1 图形化编程<br></h2>
                                                <div class="row">
                                                    <img alt="Image" class="col-sm-2 col-xs-4   col-sm-offset-5 col-xs-offset-4 border--round box-shadow" src="img/pathway/level1.png">
                                                    <br>
                                                </div>
                                                <br>
                                                <p class="lead">
                                                    图形化编程由MIT的Media Lab发明，是最合适初学者的编程平台，学生可以通过图形化的编程指令来迅速掌握编程概念和思维方式
                                                </p>
                                            </div>                                
                                            <hr>
                                            <div class="masonry">
                                                <div class="masonry__container">
                                                    <div class="col-sm-4 masonry__item" ng-repeat="course in courseLevelMap['L1']">
                                                        <div class="card card-2 text-center">
                                                            <div class="card__top">
                                                                <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                                <a href="{{course.detailsUrl}}">
                                                                    <img alt="Image" ng-src="{{course.imageUrl}}">
                                                                </a>
                                                            </div>
                                                            <div class="card__body">
                                                                <h4>{{course.name}}</h4>
                                                                <span class="type--fade">{{course.gradeLevel}}</span>
                                                                <br>
                                                                <span class="type--fade">{{course.date}}</span>
                                                                <p>
                                                                    {{course.text}}
                                                                </p>
                                                            </div>
                                                            <div class="card__bottom text-center">
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.detailsTitle}}</span>
                                                                    <a href="{{course.detailsUrl}}">
                                                                        <i class="material-icons">flip_to_front</i>
                                                                    </a>
                                                                </div>
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.registerTitle}}</span>
                                                                    <a href="{{course.registerForm}}">
                                                                        <i class="material-icons">favorite_border</i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                   
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">                                
                                            <div class="text-center">
                                                <i class="icon icon-Coding color--primary"></i>
                                                <h2 class="text-center">L2 简洁代码编程<br></h2>
                                                <div class="row">
                                                    <img alt="Image" class="col-sm-2 col-xs-4   col-sm-offset-5 col-xs-offset-4 border--round box-shadow" src="img/pathway/level2.png">
                                                    <br>
                                                </div>
                                                <p class="lead">
                                                    简洁代码编程侧重于使用脚本语言例如Javascript或者Lua来使学生开始学习真正的代码，为后面专业的代码编程打下基础
                                                </p>
                                            </div>
                                            <hr>
                                            <div>
                                                <div class="masonry__container">
                                                    <div class="col-sm-4 masonry__item" ng-repeat="course in courseLevelMap['L2']">
                                                        <div class="card card-2 text-center">
                                                            <div class="card__top">
                                                                <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                                <a href="{{course.detailsUrl}}">
                                                                    <img alt="Image" ng-src="{{course.imageUrl}}">
                                                                </a>
                                                            </div>
                                                            <div class="card__body">
                                                                <h4>{{course.name}}</h4>
                                                                <span class="type--fade">{{course.gradeLevel}}</span>
                                                                <br>
                                                                <span class="type--fade">{{course.date}}</span>
                                                                <p>
                                                                    {{course.text}}
                                                                </p>
                                                            </div>
                                                            <div class="card__bottom text-center">
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.detailsTitle}}</span>
                                                                    <a href="{{course.detailsUrl}}">
                                                                        <i class="material-icons">flip_to_front</i>
                                                                    </a>
                                                                </div>
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.registerTitle}}</span>
                                                                    <a href="{{course.registerForm}}">
                                                                        <i class="material-icons">favorite_border</i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-12">                                
                                            <div class="text-center">
                                                <i class="icon icon-Coding color--primary"></i>
                                                <h2 class="text-center">L3 代码编程<br></h2>
                                                <div class="row">
                                                    <img alt="Image" class="col-sm-2 col-xs-4   col-sm-offset-5 col-xs-offset-4 border--round box-shadow" src="img/pathway/level3.png">
                                                    <br>
                                                </div>
                                                <p class="lead">
                                                    开始学习高级的编程语言Python，并且逐步练习编写程序代码来进行复杂问题的解决与实现
                                                </p>
                                            </div>
                                            <hr>
                                            <div>
                                                <div class="masonry__container">
                                                    <div class="col-sm-4 masonry__item" ng-repeat="course in courseLevelMap['L3']">
                                                        <div class="card card-2 text-center">
                                                            <div class="card__top">
                                                                <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                                <a href="{{course.detailsUrl}}">
                                                                    <img alt="Image" ng-src="{{course.imageUrl}}">
                                                                </a>
                                                            </div>
                                                            <div class="card__body">
                                                                <h4>{{course.name}}</h4>
                                                                <span class="type--fade">{{course.gradeLevel}}</span>
                                                                <br>
                                                                <span class="type--fade">{{course.date}}</span>
                                                                <p>
                                                                    {{course.text}}
                                                                </p>
                                                            </div>
                                                            <div class="card__bottom text-center">
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.detailsTitle}}</span>
                                                                    <a href="{{course.detailsUrl}}">
                                                                        <i class="material-icons">flip_to_front</i>
                                                                    </a>
                                                                </div>
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.registerTitle}}</span>
                                                                    <a href="{{course.registerForm}}">
                                                                        <i class="material-icons">favorite_border</i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">                                
                                            <div class="text-center">
                                                <i class="icon icon-Coding color--primary"></i>
                                                <h2 class="text-center">L4 应用主题编程<br></h2>
                                                <div class="row">
                                                    <img alt="Image" class="col-sm-2 col-xs-4   col-sm-offset-5 col-xs-offset-4 border--round box-shadow" src="img/pathway/level4.png">
                                                    <br>
                                                </div>
                                                <p class="lead">
                                                    拥有一定的代码编程能力，学生可以进行应用主题的专项编程学习，在自己喜欢的方向上面开发专业的项目作品
                                                </p>
                                            </div>
                                            <hr>
                                            <div>
                                                <div class="masonry__container">
                                                    <div class="col-sm-4 masonry__item" ng-repeat="course in courseLevelMap['L4']">
                                                        <div class="card card-2 text-center">
                                                            <div class="card__top">
                                                                <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                                <a href="{{course.detailsUrl}}">
                                                                    <img alt="Image" ng-src="{{course.imageUrl}}">
                                                                </a>
                                                            </div>
                                                            <div class="card__body">
                                                                <h4>{{course.name}}</h4>
                                                                <span class="type--fade">{{course.gradeLevel}}</span>
                                                                <br>
                                                                <span class="type--fade">{{course.date}}</span>
                                                                <p>
                                                                    {{course.text}}
                                                                </p>
                                                            </div>
                                                            <div class="card__bottom text-center">
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.detailsTitle}}</span>
                                                                    <a href="{{course.detailsUrl}}">
                                                                        <i class="material-icons">flip_to_front</i>
                                                                    </a>
                                                                </div>
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.registerTitle}}</span>
                                                                    <a href="{{course.registerForm}}">
                                                                        <i class="material-icons">favorite_border</i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">                                
                                            <div class="text-center">
                                                <i class="icon icon-Coding color--primary"></i>
                                                <h2 class="text-center">L5 竞技编程<br></h2>
                                                <div class="row">
                                                    <img alt="Image" class="col-sm-2 col-xs-4   col-sm-offset-5 col-xs-offset-4 border--round box-shadow" src="img/pathway/level5.png">
                                                    <br>
                                                </div>
                                                <p class="lead">
                                                    带领学生对各种信息学算法竞赛、科学竞赛、高中AP计算机考试、以及背景提升项目的专项准备与冲刺
                                                </p>
                                            </div>
                                            <hr>
                                            <div>
                                                <div class="masonry__container">
                                                    <div class="col-sm-4 masonry__item" ng-repeat="course in courseLevelMap['L5']">
                                                        <div class="card card-2 text-center">
                                                            <div class="card__top">
                                                                <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                                <a href="{{course.detailsUrl}}">
                                                                    <img alt="Image" ng-src="{{course.imageUrl}}">
                                                                </a>
                                                            </div>
                                                            <div class="card__body">
                                                                <h4>{{course.name}}</h4>
                                                                <span class="type--fade">{{course.gradeLevel}}</span>
                                                                <br>
                                                                <span class="type--fade">{{course.date}}</span>
                                                                <p>
                                                                    {{course.text}}
                                                                </p>
                                                            </div>
                                                            <div class="card__bottom text-center">
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.detailsTitle}}</span>
                                                                    <a href="{{course.detailsUrl}}">
                                                                        <i class="material-icons">flip_to_front</i>
                                                                    </a>
                                                                </div>
                                                                <div class="card__action">
                                                                    <span class="h6 type--uppercase">{{course.registerTitle}}</span>
                                                                    <a href="{{course.registerForm}}">
                                                                        <i class="material-icons">favorite_border</i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="bg--secondary text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-8 col-md-6">
                                                <div class="cta">
                                                    <h2>开始学习</h2>
                                                    <p class="lead">
                                                        了解我们的编程课程，从现在开始为名校申请发力
                                                    </p>
                                                    <a class="btn btn--primary type--uppercase" href="corecn.html#allCourses">
                                                        <span class="btn__text">
                                                            查看当前编程课程
                                                        </span>  
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <footer class="footer-3 text-center-xs space--xs ">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img alt="Image" class="logo" src="img/my/logo1.png" />
                                                <ul class="list-inline list--hover">
                                                    <li>
                                                        <a href="#">
                                                            <!-- <span class="type--fine-print">Get Started</span> -->
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="mailto:Contact@CodingMindsAcademy.com">
                                                            <span class="type--fine-print">Contact@CodingMindsAcademy.com</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="text-right text-center-xs">
                                                <ul class="social-list list-inline list--hover" >
                                                    <li>
                                                        <a href="https://codingmindsacademy.com">
                                                            <i class="socicon socicon-google icon icon--xs" title="www.codingmindsacademy.com"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/coding_minds?lang=en">
                                                            <i class="socicon socicon-twitter icon icon--xs" title="@coding_minds"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.facebook.com/CodingMindsAcademy/" target="_blank">
                                                            <i class="socicon socicon-facebook icon icon--xs" title="@CodingMindsAcademy"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.instagram.com/codingmindsacademy/">
                                                            <i class="socicon socicon-instagram icon icon--xs" title="codingmindsacademy"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="type--fine-print">
                                                    编程助力名校申请 | <a href="index.html">English</a>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 text-right text-center-xs">
                                                <span class="type--fine-print">&copy;
                                                    <span class="update-year"></span> Coding Minds Inc.</span>
                                                    <a class="type--fine-print" href="#">Privacy Policy</a>
                                                    <a class="type--fine-print" href="#">Legal</a>
                                                </div>
                                            </div>
                                            <!--end of row-->
                                        </div>
                                        <!--end of container-->
                                    </footer>
    </div>

       <a class="btn btn--primary type--uppercase float-right" href="trial-class.html" target="_blank"><span class="btn__text">免费试课</span></a>

        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>

      <script src="js/jquery-3.1.1.min.js"></script>
      <script src="js/angular.min.js"></script>
      <script src="course-control/pathway.js"></script>
      <script src="course-control/coursedb-v4.js"></script>
      <script src="course-control/scheduledb-v4.js"></script>
      <script src="course-control/courselist-cn-v2.js"></script>
      <script src="js/flickity.min.js"></script>
      <script src="js/easypiechart.min.js"></script>
      <script src="js/parallax.js"></script>
      <script src="js/typed.min.js"></script>
      <script src="js/datepicker.js"></script>
      <script src="js/isotope.min.js"></script>
      <script src="js/ytplayer.min.js"></script>
      <script src="js/lightbox.min.js"></script>
      <script src="js/granim.min.js"></script>
      <script src="js/countdown.min.js">script src="js/twitterfetcher.min.js"></script>
      <script src="js/spectragram.min.js"></script>
      <script src="js/smooth-scroll.min.js"></script>
      <script src="js/scripts.js"></script>
      <script src="js/utils.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-98249988-1', 'auto');
        ga('send', 'pageview');
            
    </script>
 </body>
</html>
