<!doctype html>
<html ng-app="v3App" lang="cn">
<head>
    <meta charset="utf-8">
    <link href="./img/favicon.png" rel="icon">
    <title>Coding Minds编程思维课程体系</title>
    <meta name="keywords" content="青少年编程, 课后编程辅导, 编程思维, 编程竞赛, 背景提升, STEM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="编程助力名校申请。在Coding Minds Academy, 我们以亲身实践的方式教授编程和计算思维。 学生将可以玩得开心，建立自己的应用程序，并与其他学生分享他们对编码的热情和兴趣。">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/angular-material.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">

    <link rel="icon" href="https://codingmindsacademy.com/img/my/logofav.png" mce_href="/https://codingmindsacademy.com/img/my/logofav.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://codingmindsacademy.com/img/my/logofav.png" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://codingmindsacademy.com/img/my/logofav.png" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://codingmindsacademy.com/img/my/logofav.png" />
    <style>
        md-toast.md-center {
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
        #toast-container{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 10em;
            visibility: hidden;
        }
        #toast-container *{
            visibility: visible;
        }
        .md-toast.success *{
            background-color: green;
        }
        .md-toast.error *{
            background-color: red;
        }
    </style>
</head>
<body ng-controller="CourseListController">
    <a id="start"></a>
    <div class="nav-container ">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="index-cn.html">
                            <img class="logo logo-dark" alt="logo" src="img/my/logo1.png" />
                            <img class="logo logo-light" alt="logo" src="img/my/logo1.png" />
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="index-cn.html"> <img class="logo logo-dark" alt="logo" src="img/my/logo1.png"> <img class="logo logo-light" alt="logo" src="img/my/logo1.png"> </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li>
                                    <a href="index-cn.html">
                                        首页
                                    </a>
                                </li>
                                <li>
                                    <a href="corecn.html">
                                        编程课程
                                    </a>
                                </li>
                                <li>
                                    <a href="pathc.html">
                                        课程体系
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolios-cn.html">
                                        学生作品
                                    </a>
                                </li>

                                <li>
                                    <a href="newsc.html">
                                        编程资讯
                                    </a>
                                </li>
                                <li>
                                    <a href="whycoding-cn.html">
                                        为什么学习编程
                                    </a>
                                </li>
                                <li>
                                    <a href="about-us-cn.html">
                                        关于我们
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bar__module">

                                <a class="btn btn--sm btn--primary type--uppercase" href="contact-us-cn.html"> <span class="btn__text">
                                    联系我们
                                </span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!--end bar-->
        </div>
        <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <i class="icon icon-Thumb color--primary"></i>
                            <h1>高标准 高要求<br>编程助力名校申请</h1>
                            <p class="lead">
                                我们对编程的教学要求不是简单的课外兴趣班<br>而是要为大家提供申请名校的经历、背景与信心
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="space--sm text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <div class="text-center">
                                <i class="icon icon-Target color--primary"></i>
                                <h2 class="text-center">编程课程目标<br></h2>
                                <hr>
                                <p class="lead">
                                    Coding Minds编程课程体系以助力名校申请为核心目标，引导学生学编程、做项目、参加竞赛、搞科研和创业，通过创新动手提升个人背景
                                </p>
                                <!-- <img alt="Image" class="border--round box-shadow" src="img/pathway/biggoals2.png"> -->
                                <img alt="Image" class="border--round box-shadow" src="img/pathway/steps.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="space--sm text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-8">
                            <div class="text-center">
                                <i class="icon icon-Statistic color--primary"></i>
                                <h2 class="text-center">编程课程体系<br></h2>
                                <hr>
                                <p class="lead">
                                    Coding Minds编程课程体系由美国大学计算机教授团队从美国大学申请的角度设计，进阶性的学习编程，培养兴趣和实践能力，让孩子从小打下坚实的编程基础
                                </p>
                                <img alt="Image" class="border--round box-shadow" src="img/pathway/plevel4.png">
                                <p class="lead">
                                    所有课程以项目为阶段性目标，增强学生的科技创新背景和信心
                                </p>
                                <img alt="Image" class="border--round box-shadow" src="img/pathway/biggoals2.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <i class="icon icon-Coding color--primary"></i>
                                <h2 class="text-center">2020年春季课程表<br></h2>
                                </div>
                                <hr>

                <div class="tabs-container" data-content-align="center">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab__title">
                                <span class="h5">尔湾Irvine校区</span>
                            </div>
                            <div class="tab__content">

                            <!-- <div class="masonry"> -->
                            <div class="masonry1">
                                    <div class="col-sm-12">

                                    <div>
                                    <!-- <div class="masonry__container"> -->
                                        <div class="col-sm-4 masonry__item" ng-repeat="course in courseListIrvine">
                                            <div class="card card-2 text-center">
                                                <div class="card__top">
                                                    <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                    <img alt="Image" ng-src="{{course.imageUrl}}">
                                                </div>
                                                <div class="card__body">
                                                    <h4>{{course.title1}}</h4>
                                                    <p>
                                                        {{course.text}}
                                                    </p>
                                                </div>
                                                <div class="card__bottom text-center">
                                                    <div class="card__action">
                                                        <div class="modal-instance block">
                                                            <a href="#" class="btn modal-trigger"><span class="btn__text">查看课程信息</span></a>
                                                            <div class="modal-container">
                                                                <div class="modal-content">
                                                                    <section class="imageblock feature-large bg--white border--round ">
                                                                        <div class="container" style="padding-top: 1.1em">
                                                                            <div class="row" style="height: calc(100vh - 100px)">
                                                                                <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                                                                            </div>
                                                                            <!--end of container-->
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card__action">
                                                        <div class="modal-instance block">
                                                            <a class="btn toggle_schedule" href="#">
                                                                <span class="btn__text">
                                                                    选择课程时间
                                                                </span>
                                                            </a>
                                                            <!-- <div class="modal-container">
                                                                <div class="modal-content">
                                                                    <div class="boxed boxed--lg">
                                                                        <iframe ng-src="{{course.registerForm}}"></iframe>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- The following should be toggled by the button above -->
                                                <div class="card__body course_schedule" style="display: none;">
                                                    <h4>课程时间</h4>
                                                    <table class="border--round table--alternate-row">
                                                        <tbody>
                                                            <tr>
                                                                <td style="width: 35%"><b>日期</b></td>
                                                                <td style="width: 28%"><b>时间</b></td>
                                                                <td style="width: 28%"><b>注册</b></td>
                                                                <!--<td style="width: 19%"><b>价格</b></td>-->
                                                            </tr>
                                                            <tr ng-repeat="data in course['repeatData']">
                                                                <td style="width: 35%">{{data.range}}<br>上半期八周</td>
                                                                <td style="width: 28%">{{data.dayTime}}</td>
                                                                <td style="width: 28%">
                                                                    <div class="modal-instance">
                                                                        <a href="#" class="btn btn--sm btn--primary modal-trigger"><span class="btn__text">注册</span></a>
                                                                        <div id={{data.courseid}} class="modal-container">
                                                                            <div class="modal-content section-modal">
                                                                                <section class="unpad ">
                                                                                    <div class="container">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                                                                <div class="boxed boxed--lg bg--white text-center feature">
                                                                                                    <div class="modal-close modal-close-cross"></div>
                                                                                                    <h3>填写报名信息</h3>
                                                                                                    <h5>{{course.shortName}}</h5>
                                                                                                    <h5 style="margin-bottom: 0;">尔湾Irvine校区</h5>
                                                                                                    <p style="margin-bottom: 0;"><b>日期：</b>{{data.range}} 上半期八周</p>
                                                                                                    <p><b>时间：</b>{{data.dayTime}}</p>
                                                                                                    <hr data-title="OR">
                                                                                                    <div class="feature__body">
                                                                                                        <form ng-submit="submit(data.courseid)">
                                                                                                            <div class="row">
                                                                                                                <div class="col-sm-6">
                                                                                                                    <input type="text" ng-model="form.firstName" placeholder="学生First Name" required/>
                                                                                                                </div>
                                                                                                                <div class="col-sm-6">
                                                                                                                    <input type="text" ng-model="form.lastName" placeholder="学生Last Name" required/>
                                                                                                                </div>
                                                                                                                <div class="col-sm-12">
                                                                                                                    <input type="text" ng-model="form.grade" placeholder="年级" />
                                                                                                                </div>
                                                                                                                <div class="col-sm-12">
                                                                                                                    <input type="email" ng-model="form.parentEmail" placeholder="Email" />
                                                                                                                </div>
                                                                                                                <div class="col-sm-12">
                                                                                                                    <input type="number" ng-model="form.parentPhoneNumber" placeholder="联系电话" />
                                                                                                                </div>
                                                                                                                <div class="col-sm-12">
                                                                                                                    <input type="text" ng-model="form.contact2Value" placeholder="微信号" />
                                                                                                                </div>
                                                                                                                <div class="col-sm-12">
                                                                                                                    <button class="btn btn--primary type--uppercase" type="submit">注册</button>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <!--end of row-->
                                                                                                        </form>
                                                                                                        <span class="type--fine-print block">如有疑问请联系我们
                                                                                                            <a href="contact-us-cn.html">联系我们</a>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!--end of row-->
                                                                                    </div>
                                                                                    <!--end of container-->
                                                                                </section>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class>

                                <div class="tab__title">
                                    <span class="h5">Arcadia校区</span>
                                </div>
                                <div class="tab__content">

                                <div class="masonry1">
                                <!-- <div class="masonry"> -->

                                        <!-- <div> -->
                                        <div class="masonry__container">
                                            <div class="col-sm-4 masonry__item" ng-repeat="course in courseListArcadia">
                                                <div class="card card-2 text-center">
                                                    <div class="card__top">
                                                        <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                        <img alt="Image" ng-src="{{course.imageUrl}}">
                                                    </div>
                                                    <div class="card__body">
                                                        <h4>{{course.title1}}</h4>
                                                        <p>
                                                            {{course.text}}
                                                        </p>
                                                    </div>
                                                    <div class="card__bottom text-center">
                                                        <div class="card__action">
                                                            <div class="modal-instance block">
                                                                <a href="#" class="btn modal-trigger"><span class="btn__text">查看课程信息</span></a>
                                                                <div class="modal-container">
                                                                    <div class="modal-content">
                                                                        <section class="imageblock feature-large bg--white border--round ">
                                                                            <div class="container" style="padding-top: 1.1em">
                                                                                <div class="row" style="height: calc(100vh - 100px)">
                                                                                    <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card__action">
                                                            <div class="modal-instance block">
                                                                <!-- <a id="modal-click" class="btn modal-trigger" href="#"> -->
                                                                <a class="btn toggle_schedule" href="#">
                                                                    <span class="btn__text">
                                                                        选择课程时间
                                                                    </span>
                                                                </a>
                                                                <!-- <div class="modal-container">
                                                                    <div class="modal-content">
                                                                        <div class="boxed boxed--lg">
                                                                            <iframe ng-src="{{course.registerForm}}"></iframe>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- The following should be toggled by the button above -->
                                                    <div class="card__body course_schedule" style="display: none;">
                                                        <h4>课程时间</h4>
                                                        <table class="border--round table--alternate-row">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 35%"><b>日期</b></td>
                                                                    <td style="width: 28%"><b>时间</b></td>
                                                                    <td style="width: 28%"><b>注册</b></td>
                                                                </tr>
                                                                <tr ng-repeat="data in course['repeatData']">
                                                                    <td style="width: 35%">{{data.range}}<br>上半期八周</td>
                                                                    <td style="width: 28%">{{data.dayTime}}</td>
                                                                    <td style="width: 28%">
                                                                        <div class="modal-instance">
                                                                            <a href="#" class="btn btn--sm btn--primary modal-trigger"><span class="btn__text">注册</span></a>
                                                                            <div id={{data.courseid}} class="modal-container">
                                                                                <div class="modal-content section-modal">
                                                                                    <section class="unpad ">
                                                                                        <div class="container">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                                                                    <div class="boxed boxed--lg bg--white text-center feature">
                                                                                                        <div class="modal-close modal-close-cross"></div>
                                                                                                        <h3>填写报名信息</h3>
                                                                                                        <h5>{{course.shortName}}</h5>
                                                                                                        <h5 style="margin-bottom: 0;">Arcadia校区</h5>
                                                                                                        <p style="margin-bottom: 0;"><b>日期：</b>{{data.range}} 上半期八周</p>
                                                                                                        <p><b>时间：</b>{{data.dayTime}}</p>
                                                                                                        <hr data-title="OR">
                                                                                                        <div class="feature__body">
                                                                                                            <form ng-submit="submit(data.courseid)">
                                                                                                                <div class="row">
                                                                                                                    <div class="col-sm-6">
                                                                                                                        <input type="text" ng-model="form.firstName" placeholder="学生First Name" required/>
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-6">
                                                                                                                        <input type="text" ng-model="form.lastName" placeholder="学生Last Name" required/>
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="text" ng-model="form.grade" placeholder="年级" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="email" ng-model="form.parentEmail" placeholder="Email" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="number" ng-model="form.parentPhoneNumber" placeholder="联系电话" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="text" ng-model="form.contact2Value" placeholder="微信号" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <button class="btn btn--primary type--uppercase" type="submit">注册</button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <!--end of row-->
                                                                                                            </form>
                                                                                                            <span class="type--fine-print block">如有疑问请联系我们
                                                                                                                <a href="contact-us-cn.html">联系我们</a>
                                                                                                            </span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </section>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                </div>
                            </li>
                            <li class>

                                <div class="tab__title">
                                    <span class="h5">Online校区</span>
                                </div>
                                <div class="tab__content">

                                <div class="masonry1">
                                <!-- <div class="masonry"> -->

                                        <!-- <div> -->
                                        <div class="masonry__container">
                                            <div class="col-sm-4 masonry__item" ng-repeat="course in courseListOnline">
                                                <div class="card card-2 text-center">
                                                    <div class="card__top">
                                                        <span id="cmbg" class="label">{{course.gradeLevel}}</span>
                                                        <img alt="Image" ng-src="{{course.imageUrl}}">
                                                    </div>
                                                    <div class="card__body">
                                                        <h4>{{course.title1}}</h4>
                                                        <p>
                                                            {{course.text}}
                                                        </p>
                                                    </div>
                                                    <div class="card__bottom text-center">
                                                        <div class="card__action">
                                                            <div class="modal-instance block">
                                                                <a href="#" class="btn modal-trigger"><span class="btn__text">查看课程信息</span></a>
                                                                <div class="modal-container">
                                                                    <div class="modal-content">
                                                                        <section class="imageblock feature-large bg--white border--round ">
                                                                            <div class="container" style="padding-top: 1.1em">
                                                                                <div class="row" style="height: calc(100vh - 100px)">
                                                                                    <iframe width="200" height="800" ng-src="{{course.detailsUrl}}"></iframe>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card__action">
                                                            <div class="modal-instance block">
                                                                <!-- <a id="modal-click" class="btn modal-trigger" href="#"> -->
                                                                <a class="btn toggle_schedule" href="#">
                                                                    <span class="btn__text">
                                                                        选择课程时间
                                                                    </span>
                                                                </a>
                                                                <!-- <div class="modal-container">
                                                                    <div class="modal-content">
                                                                        <div class="boxed boxed--lg">
                                                                            <iframe ng-src="{{course.registerForm}}"></iframe>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- The following should be toggled by the button above -->
                                                    <div class="card__body course_schedule" style="display: none;">
                                                        <h4>课程时间</h4>
                                                        <table class="border--round table--alternate-row">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 35%"><b>日期</b></td>
                                                                    <td style="width: 28%"><b>时间</b></td>
                                                                    <td style="width: 28%"><b>注册</b></td>
                                                                </tr>
                                                                <tr ng-repeat="data in course['repeatData']">
                                                                    <td style="width: 35%">日期根据学生情况而定</td>
                                                                    <td style="width: 28%">时间根据学生情况而定</td>
                                                                    <td style="width: 28%">
                                                                        <div class="modal-instance">
                                                                            <a href="#" class="btn btn--sm btn--primary modal-trigger"><span class="btn__text">注册</span></a>
                                                                            <div id={{data.courseid}} class="modal-container">
                                                                                <div class="modal-content section-modal">
                                                                                    <section class="unpad ">
                                                                                        <div class="container">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                                                                    <div class="boxed boxed--lg bg--white text-center feature">
                                                                                                        <div class="modal-close modal-close-cross"></div>
                                                                                                        <h3>填写报名信息</h3>
                                                                                                        <h5>{{course.shortName}}</h5>
                                                                                                        <h5 style="margin-bottom: 0;">Arcadia校区</h5>
                                                                                                        <p style="margin-bottom: 0;"><b>日期：</b>{{data.range}} 上半期八周</p>
                                                                                                        <p><b>时间：</b>{{data.dayTime}}</p>
                                                                                                        <hr data-title="OR">
                                                                                                        <div class="feature__body">
                                                                                                            <form ng-submit="submit(data.courseid)">
                                                                                                                <div class="row">
                                                                                                                    <div class="col-sm-6">
                                                                                                                        <input type="text" ng-model="form.firstName" placeholder="学生First Name" required/>
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-6">
                                                                                                                        <input type="text" ng-model="form.lastName" placeholder="学生Last Name" required/>
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="text" ng-model="form.grade" placeholder="年级" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="email" ng-model="form.parentEmail" placeholder="Email" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="number" ng-model="form.parentPhoneNumber" placeholder="联系电话" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <input type="text" ng-model="form.contact2Value" placeholder="微信号" />
                                                                                                                    </div>
                                                                                                                    <div class="col-sm-12">
                                                                                                                        <button class="btn btn--primary type--uppercase" type="submit">注册</button>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <!--end of row-->
                                                                                                            </form>
                                                                                                            <span class="type--fine-print block">如有疑问请联系我们
                                                                                                                <a href="contact-us-cn.html">联系我们</a>
                                                                                                            </span>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </section>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                </div>
                </section>

                <section class="bg--secondary text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-6">
                                <div class="cta">
                                    <h2>不知道应该上什么课程?</h2>
                                    <p class="lead">
                                        欢迎报名参加30分钟的免费试听，由我们的导师亲自授课，提供在线授课或课堂授课。
                                    </p>
                                    <a class="btn btn--primary type--uppercase" href="contact-us-cn.html">
                                        <span class="btn__text">
                                            联系试课
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <footer class="footer-3 text-center-xs space--xs ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <img alt="Image" class="logo" src="img/my/logo1.png" />
                                <ul class="list-inline list--hover">
                                    <li>
                                        <a href="#">
                                            <!-- <span class="type--fine-print">Get Started</span> -->
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:Contact@CodingMindsAcademy.com">
                                            <span class="type--fine-print">Contact@CodingMindsAcademy.com</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 text-right text-center-xs">
                                <ul class="social-list list-inline list--hover">
                                    <li>
                                        <a href="#https://www.youtube.com/channel/UCF-K1DZ5lk8Bqn-14JF99jA">
                                            <i class="socicon socicon-youtube icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="socicon socicon-twitter icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="socicon socicon-facebook icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="socicon socicon-instagram icon icon--xs"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end of row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="type--fine-print">
                                    编程助力名校申请 | <a href="index.html">English</a>
                                </p>
                            </div>
                            <div class="col-sm-6 text-right text-center-xs">
                                <span class="type--fine-print">&copy;
                                    <span class="update-year"></span> Coding Minds Inc.</span>
                                    <a class="type--fine-print" href="#">Privacy Policy</a>
                                    <a class="type--fine-print" href="#">Legal</a>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </footer>
                    <div id="toast-container" ></div>
                </div>
                <!--<div class="loader"></div>-->
                <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
                    <i class="stack-interface stack-up-open-big"></i>
                </a>
                <script src="js/jquery-3.1.1.min.js"></script>
                <script src="js/angular.min.js"></script>
                <script src="js/angular-animate.min.js"></script>
                <!-- <script src="js/angular-route.min.js"></script> -->
                <script src="js/angular-aria.min.js"></script>
                <!-- <script src="js/angular-messages.min.js"></script> -->
                <script src="js/angular-material.min.js"></script>
                <script src="course-control/pathway.js"></script>
                <script src="course-control/course2020Spring1.js"></script>
                <script src="course-control/scheduledb-v4.js"></script>
                <script src="course-control/staticpathctest.js"></script>
                <script src="js/flickity.min.js"></script>
                <script src="js/easypiechart.min.js"></script>
                <script src="js/parallax.js"></script>
                <script src="js/typed.min.js"></script>
                <script src="js/datepicker.js"></script>
                <script src="js/isotope.min.js"></script>
                <script src="js/ytplayer.min.js"></script>
                <script src="js/lightbox.min.js"></script>
                <script src="js/granim.min.js"></script>
                <script src="js/countdown.min.js"></script>
                <script src="js/spectragram.min.js"></script>
                <script src="js/smooth-scroll.min.js"></script>
                <script src="js/scripts.js"></script>
                <script src="js/utils.js"></script>
                <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-98249988-1', 'auto');
                  ga('send', 'pageview');

              </script>
          </body>
          </html>
