<!doctype html>
<html ng-app="v3App" lang="en">
    <head>
        <meta charset="utf-8">
        <link href="./img/favicon.png" rel="icon">
        <title>免费试课 | Coding Minds Academy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <!-- <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" /> -->
        <!-- <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" /> -->
        <!-- <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" /> -->
        <!-- <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" /> -->
        <!-- <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" /> -->
        <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet"> -->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <link href="css/angular-material.min.css" rel="stylesheet" type="text/css" media="all" />

    </head>
    <body ng-controller="signup_trialcourse_controller">
        <a id="start"></a>
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="img/my/logo1.png" />
                                <img class="logo logo-light" alt="logo" src="img/my/logo1.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar-1 hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 hidden-xs">
                            <div class="bar__module">
                                <a href="index-cn.html"> <img class="logo logo-dark" alt="logo" src="img/my/logo1.png"> <img class="logo logo-light" alt="logo" src="img/my/logo1.png"> </a>
                            </div>
                        </div>
                        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    <li>
                                        <a href="index-cn.html">
                                            关于我们
                                        </a>
                                    </li>                                        
                                    <li>
                                        <a href="pathc.html">
                                            课程体系
                                        </a>
                                    </li>                                        
                                    <li>
                                        <a href="enrichmentc.html">
                                            背景提升
                                        </a>
                                    </li>
                                    <li>
                                        <a href="conferencec.html">
                                            学生作品
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            师资力量
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bar__module">
                                        <!-- <a class="btn btn--sm type--uppercase" href="#customise-template"> <span class="btn__text">
                                        Contact Us
                                    </span> </a> -->
                                    <a class="btn btn--sm btn--primary type--uppercase" href="https://www.sharemyworks.com"> <span class="btn__text">
                                        学习中心
                                    </span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
        </div>
        <div class="main-container">
            <section class="imageblock switchable feature-large height-100"><!changed by Tao>
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                    <div class="background-image-holder">
                        <img alt="image" src="img/trial-1.jpg" />
                    </div>
                </div>
                <div class="container pos-vertical-center">
                    <div ng-if="!loading" class="row">
                        <div class="col-md-5 col-sm-7" >
                            <h2 style="text-align: center;">免费注册试听课程</h2>
                            <form>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" ng-model="form.name"  pattern = "[A-Za-z ]*" placeholder="学生姓名" oninvalid="this.setCustomValidity('请使用英文字母输入名字')"
                                        oninput="setCustomValidity('')" required/>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="text" required ng-model='form.grade' name="Grade" placeholder="就读年级" />
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="email" required ng-model='form.email2' name="Parent Email" placeholder="家长邮箱" />
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="phone" required ng-model='form.phone2' name="Parent Phone" placeholder="家长电话" />
                                    </div>
                                     <div class="col-xs-12">
                                        <input type="Wechat" required ng-model='form.wechat2' name="Parent Wechat" placeholder="家长微信" />
                                         <! Added by Tao Parents Wechat>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="input-select">
                                            <select class="form-control" ng-change="codingExperienceChanged()" ng-model="form.codingExperience">
                                                <option ng-selected="form.codingExperience == item.id" ng-repeat="item in codingExperiences" ng-value="item.id">{{item.label}}</option>
                                           </select>
                                        </div>
                                    </div>

                                    <!-- <div class="col-sm-12 text-center">
                                        <h5>请选择接触过的编程门类</h5>
                                    </div>
                                    <div class="d-flex p-2">
                                    <div class="col-xs-4">

                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.scrach" >
                                            Scratch
                                        </md-checkbox>

                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.legoev3" >
                                            Lego EV3
                                        </md-checkbox>
                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.makdcode" >
                                           MakeCode
                                        </md-checkbox>
                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.robloxlua" >
                                            Roblox Lua
                                         </md-checkbox>
                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.python" >
                                            Python
                                         </md-checkbox>
                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.java" >
                                            Java
                                         </md-checkbox>
                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.cpp" >
                                            C++
                                         </md-checkbox>
                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.ai" >
                                            AI
                                         </md-checkbox>
                                    </div>
                                    <div class="col-xs-4">
                                        <md-checkbox md-no-ink class="md-primary" ng-model="form.topics.usaco" >
                                            USACO
                                         </md-checkbox>
                                    </div>
                                    </div> -->
                                    <div class="col-xs-12">
                                        <input type="text" ng-model='form.availability' name="Comment" placeholder="请输入合适您和孩子的时间" />
                                    </div>

                                    <div class="col-xs-12">
                                        <button type="submit" ng-click="submit()" class="btn btn--primary type--uppercase">提交</button>
                                    </div>
                                    
                                    <div class="w3-card-4 center" style="width:50%">
                                            <img src="img/my/%E5%BE%AE%E4%BF%A1%E8%AF%95%E8%AF%BE.jpg"></img>
                                    </div>
                                        <! added by Tao QRCode>

                                </div>
                                <!--end row-->
                            </form>

                        </div>
                    </div>
                    <div ng-if="loading" class="row" >
                      <div class="col-md-5 col-sm-7" >
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="lds-ring"><div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-aria.min.js"></script>
        <script src="js/angular-material.min.js"></script>
        <!-- <script src="js/flickity.min.js"></script> -->
        <!-- <script src="js/easypiechart.min.js"></script> -->
        <!-- <script src="js/parallax.js"></script> -->
        <!-- <script src="js/typed.min.js"></script> -->
        <!-- <script src="js/datepicker.js"></script> -->
        <!-- <script src="js/isotope.min.js"></script> -->
        <!-- <script src="js/ytplayer.min.js"></script> -->
        <!-- <script src="js/lightbox.min.js"></script> -->
        <!-- <script src="js/granim.min.js"></script> -->
        <script src="js/jquery.steps.min.js"></script>
        <!-- <script src="js/countdown.min.js"></script> -->
        <!-- <script src="js/twitterfetcher.min.js"></script> -->
        <!-- <script src="js/spectragram.min.js"></script> -->
        <script src="js/smooth-scroll.min.js"></script>
        <script src="course-control/signup_trialcourse_controller.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>