<!doctype html>
<html ng-app="v3App" lang="en">
    <head>
        <meta charset="utf-8">
        <link href="./img/favicon.png" rel="icon">
        <title>{{ page.title }}</title>
        <meta name="keywords" content="Learn Computer Science, Learn Computational Thinking, Kids Learning Coding, K-12 Programming, K-12 Coding, Kids Coding, After School Coding, After School Program">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Learn coding with fun! Here at Coding Minds Academy, we teach programming and computational thinking with a hands-on approach. Students will be able to have fun, build their own applications, and meet others students who share their passion and interest for coding.">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i%7CMaterial+Icons" rel="stylesheet">
 
    <body class=" " ng-controller="CourseDetailsController">
        <a id="start"></a>
        <div class="nav-container">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="img/my/logo1.png" />
                                <img class="logo logo-light" alt="logo" src="img/my/logo1.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>    
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="index-cn.html"> <img class="logo logo-dark" alt="logo" src="img/my/logo1.png"> <img class="logo logo-light" alt="logo" src="img/my/logo1.png"> </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li>
                                    <a href="index.html">
                                        Home 
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#summercamp">
                                        Our Programs
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolios.html">
                                        Portfolios
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Coding News
                                    </a>
                                </li>
                                <li>
                                    <a href="page-whycoding.html">
                                        Why coding
                                    </a>
                                </li>
                                <li>
                                    <a href="page-about-us-1.html">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bar__module">
                                    <!-- <a class="btn btn--sm type--uppercase" href="#customise-template"> <span class="btn__text">
                                    Contact Us
                                </span> </a> -->
                                <a class="btn btn--sm btn--primary type--uppercase" href="page-contact-us.html"> <span class="btn__text">
                                    About Us
                                </span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!--end bar-->
        <div class="main-container">
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>{{ page.portfoTitle }}
                                <br class="hidden-xs hidden-sm" />{{ page.portfoTitle2 }}</h1>
                            
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                            <div class="video-cover box-shadow border--round">
                                <div class="background-image-holder">
                                    <img alt="image" src="{{ page.videoImg }}" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe data-src="{{ page.videosrc }}" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2 class="text-center">project introduction</h2>
                            <p class="lead">
                                {{ page.portfoDescription }}
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {% for author in page.authors %}
            <section ng-hide="!{{author.enabled}}" class="feature-large feature-large-2 bg--secondary">
                
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <h2>{{ author.name }}</h2>
                            <h4>{{ author.grade }} Grade</h4>
                            <hr class="short" />
                            <p class="lead">
                                {{ author.intro}}
                            </p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-md-offset-1">
                            <img alt="Image" class="border--round box-shadow" src="img/work-single-2.jpg" />
                        </div>
                        <div class="col-sm-4 col-md-2 col-md-offset-1">
                            <hr class="short" />
                            <p>
                                {{ author.Impression }}
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                
            </section>
            {% endfor %}

            {% for paper in page.papers %}
            <section ng-hide="!{{paper.enabled}}" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-2">
                            <div class="text-block">
                                <span class="h5">论文名称</span>
                                <span>{{ paper.paperTitle }}</span>
                            </div>
                            <div class="text-block" ng-hide="!{{paper.paperLinkEnabled}}">
                                <span class="h5">论文链接:</span>
                                <span>
                                    <a href="{{ paper.paperLink }}">{{ paper.paperLink }}</a>
                                </span>
                            </div>
                            <div class="text-block" ng-hide="!{{paper.codeLinkEnabled}}">
                                <span class="h5">源码链接:</span>
                                <span>
                                    <a href="{{ paper.codeLink }}">{{ paper.codeLink }}</a>
                                </span>
                            </div>

                        </div>
                        <div class="col-sm-5 col-md-5 col-md-offset-1">
                            <div class="text-block">
                                <span class="h5">论文简介:</span>
                                <p>
                                    {{ paper.paperBerif }}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-md-offset-1">
                            <div class="text-block">
                                <span class="h5">关键词</span>
                                <ul class="bullets">
                                    <li>{{ paper.paperKeyword1 }}</li>
                                    <li>{{ paper.paperKeyword2 }}</li>
                                    <li>{{ paper.paperKeyword3 }}</li>
                                    <li>{{ paper.paperKeyword4 }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {% endfor %}

            <footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="logo" src="img/my/logo1.png" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <!-- <span class="type--fine-print">Get Started</span> -->
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:Contact@CodingMindsAcademy.com">
                                        <span class="type--fine-print">Contact@CodingMindsAcademy.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Learn coding with fun | <a href="{{ page.cnUrl }}">中文</a>
                            </p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Coding Minds Inc.</span>
                                <a class="type--fine-print" href="#">Privacy Policy</a>
                                <a class="type--fine-print" href="#">Legal</a>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </footer>
            </div>
            <!--<div class="loader"></div>-->
            <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
                <i class="stack-interface stack-up-open-big"></i>
            </a>
                <script src="js/jquery-3.1.1.min.js"></script>
                <script src="js/angular.min.js"></script>
                <script src="course-control/portfolioslist-cn.js"></script>
                <script src="course-control/course_detail.js"></script>
                <script src="js/flickity.min.js"></script>
                <script src="js/easypiechart.min.js"></script>
                <script src="js/parallax.js"></script>
                <script src="js/typed.min.js"></script>
                <script src="js/datepicker.js"></script>
                <script src="js/isotope.min.js"></script>
                <script src="js/ytplayer.min.js"></script>
                <script src="js/lightbox.min.js"></script>
                <script src="js/granim.min.js"></script>
                <script src="js/countdown.min.js"></script>
                <script src="js/twitterfetcher.min.js"></script>
                <script src="js/spectragram.min.js"></script>
                <script src="js/smooth-scroll.min.js"></script>
                <script src="js/scripts.js"></script>
                <script src="js/utils.js"></script>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-98249988-1', 'auto');
              ga('send', 'pageview');

          </script>
      </body>
      </html>
